* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.game {
  text-align: center;
}

.game__title {
  font-size: 50px;
}

.game__input {
  border: 2px solid #6b6bfa;
  border-radius: 50px;
  margin-left: 30px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  width: 150px;
}

.game__button {
  border: none;
  background-color: #6b6bfa;
  color: #fff;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.game__input:focus {
  outline: none;
}

.game__wrapper {
  display: flex;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  justify-content: space-around;
  font-size: 30px;
}

.game__info {
  margin-top: 40px;
}

.error > input {
  border-color: red;
  position: relative;
}

.error::after {
  content: "Only 4 unique numbers";
  color: #ff0000;
  position: absolute;
  margin-top: 70px;
  margin-left: -135px;
  font-size: 12px;
}

.winner::after {
  content: "YOU WON !!!";
  color: #0fe40f;
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  top: 200px;
  left: 30%;
  transform: rotate(-45deg);
}

.game__try-list {
  float: right;
  margin-right: 300px;
  margin-top: -200px;
}

.shot {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}